@font-face {
	font-family: mainFont;
	src: url(../fonts/viola.otf);
}

@font-face {
	font-family: subFont;
	src: url(../fonts/souvenirIt.otf);
}
@font-face {
	font-family:lucyRose;
	src: url(../fonts/lucy_rose.otf);
}
body {
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)),
    url(../images/creamchic_makeup.jpeg);
	/*background-color: rgba(0, 0, 0, 0.8)/*#192021*/
	text-align: center;
	/*background-image: url(../images/creamchic_makeup.jpeg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin: 0;
	color: #fff;
	font-family: verdana;
}

header {
	padding: 2em;

}

img {
	float: left;
	border-radius: 50%;
	width: 20%;
	max-width: 150px;
}

.clear {
	clear: both;
}

h1 {
	font-size: 40px;
	line-height: 60px;
	font-family: mainFont;
	color: #d21154;
	letter-spacing: 6px;
}

h2 {
	font-family: subFont;
	letter-spacing: 2px;
	position: relative;
	top: -1em;
}
.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

#land_section {
	margin-top: 6em;
}



.enter-icon svg {
	margin-bottom: 1em;
}
.stores {
	

}

/*section > * {
	margin-top: 5em;
}*/

/*.overlay {
	background-color: #000;
	margin: 0;
	height: 100%;
	opacity: 0.8;
}*/

a {
	text-decoration: none;
	color: #fff;
}

.stores > div:first-child {
	border-right: 2px solid #d21154;
	
}

.stores > div {
	width: 50%;
	padding: 0 1em;
}

/* media Queries */
@media screen and (min-width: 700px) {
	h1 {
	font-size: 80px;
	line-height: 60px;
	letter-spacing: 7px;
}
	h2 {
	font-size: 40px;
	line-height: 50px;
}
	#land_section p {
		font-size: 2em;
	}
}
@media screen and (min-width: 900px) {
	h1 {
	font-size: 90px;
	line-height: 60px;
	letter-spacing: 7px;
}

	.stores {
		width: 80%;
		margin: 0 auto;
		max-width: 1000px;
	}
}