 /*import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #0e1c36;
	--accent: #e31d5a;
	--header-main: #fff;
	--light-gray: #2b3032a1;
	--border: #2b303218;
	--text-color: #ff686b;
	--roboto: "Roboto", sans-serif;
	--gugi: "Gugi", cursive;
	--sofia: "Sofia", cursive;
}

body {
	font-family: roboto, sans-serif;
}

.grid_small,
.col_small,
.col,
.flex_small,
.flex {
	display: flex;
}

.grid_small,
.col_small,
.col {
	flex-direction: column;
}

.grid_main {
	display: grid;
}

.clear {
	clear: both;
}

.price {
	
	color: white;
}

header {
	background: var(--primary-color);
	padding: 2em 0;
	height: 180px;
}


#upper_header {
	justify-content: flex-start;
}

#upper_header > img {
	border-radius: 50%;
	margin-right: 2vw;
	margin-left: 1em;
}

h1 {
	color: var(--header-main);
	font-family: gugi, sans-serif;
	text-align: center;
}

h1 > span {
	font-family: var(--sofia);
	display: block;
	font-size: 22px;
}

h2 {
	font-family: sofia, sans-serif;
	/*font-family: gugi, sans-serif;*/
}

h1,h2 {
	letter-spacing: 3px;
}

p {
	font-family: roboto, sans-serif;
	letter-spacing: 1px;
	font-size: 1.5em;
}

ul {
	list-style: none;
}

p > span {
	color: var(--accent);
	font-family: sofia;
}

header svg {
	width: 40px;
	height: 40px;
}

svg {
	width: 30px;
	height: 30px;
	padding: 0.1em;
	margin-right: 0.3em;
	color: var(--accent);
	fill: var(--accent);
}

header a {
	color: var(--accent);
	text-decoration: none;
	font-size: 1.2em;
}

.hide_small nav {
	position: relative;
	width: 17%;
	padding: 0.2em;
}

/* REMEMBER TO REMOVE MARKER STYLE AND SCRIPT*/
#marker {
	position: absolute;
	left: 0;
	height: 4px;
	width: 0;
	background: red;
	bottom: -8px;
	transition: 0.5s;
	border-radius: 4px;
}

.hide_small {
	display: none;
}

.fa-bars {
	/*position: absolute;
	right: 2em;*/
	float: right;
	position: relative;
	bottom: 1em;
	right: 1em;
}

.waterfall_grid {
	display: flex;
	flex-wrap: wrap;
}

#second_slider,
#products_gallery {
	margin-top: 8em;
}

#products_gallery > h2 {
	text-align: center;
}

.gallery_product {
	width: 40vw;
	max-width: 300px;
	height: 40vw;
	background: var(--accent);
	margin: 3em auto;
}

.gallery_product img {
	width: 100%;
	height: 100%;
}

/*#gallery {
	border: 2px solid red;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}*/

footer {
	
	width: 100%;
}
.subscribe {
	background: var(--primary-color);
	padding: 1em 0.5em;
	color: var(--header-main);
	text-align: center;
}

.subscribe h2 {
	margin-bottom: 0;
}
.subscribe > div {
	align-items: center;
	justify-content: center;
	color: var(--accent);
}

.subscribe form {
	justify-content: center;
	margin-top: 2em;
}

.subscribe input {
	max-width: 500px;
}

.subscribe input:last-child{
	width: 250px;
	margin-left: 0.5em;
}

input[type=submit] {
	background: var(--accent);
	color: var(--header-main);
}

input {
	padding: 1em;
	border-radius: 1em;
}

#upper_footer > div {
	margin-top: 2em;
}

#upper_footer > .col_small {
	padding: 1em;
}

.info > div {
	width: 98%;
	margin: 1em auto 2em auto;

}

video {
	width: 90%;
	max-width: 400px;
	align-self: center;
}

.contact_social {
	align-items: center;
}

.contact_social > .social {
	width: 50%;
	justify-content: space-around;
}

.contact_social > div {
	margin: 1em 0;
}

.footer_menu {
	background: var(--primary-color);
	color: var(--header-main);
	padding: 2em 0 0 0;
	border-bottom: 1px solid var(--accent);
}

.footer_menu h2 {
	color: var(--accent);
}

.footer_menu > .container > div {
	margin-bottom: 2em;
	font-size: 1.3em;
	padding: 0 2em;
}

.footer_menu li {
	margin-bottom: 0.8em;
	letter-spacing: 2px;
}

#lower_footer {
	background: var(--primary-color);
	color: var(--header-main);
	text-align: center;
	padding: 1em 0;
}

main,
footer {
	margin-top: 2em;
}

.phone_icon {
	background: var(--primary-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 2px 2px 6px #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 50px;
	right: 10px;
}

.modal {
	position: fixed;
	bottom: 0;
	right: -300px;
	width: 300px;
	background: var(--primary-color);
	box-shadow: 2px 2px 4px #fff;
	padding: 1em;
	border-radius: 2em 0 0 2em;
	transition: 0.5s ease;
}

.close {
	position: relative;
	right: -240px;
	/*top: 0.5em;*/
}

.modal li {
	margin-bottom: 1em;
	display: flex;
}

.modal a {	
	color: var(--header-main);
	text-decoration: none;
	display: flex;
	align-items: center;
}

.modal p {
	font-size: 1.2em;
}

.hamburger_modal,
.overlay {
	padding: 2em;
	width: 100vw;
	position: fixed;
	top: 0;
	right: -100vw;
	background: var(--primary-color);
	transition: 0.5s ease;
}

.hamburger_modal {
	height: 70vh;
	justify-content: space-around;
}

.overlay {
	height: 100vh;	
	opacity: 0.9;
}

.hamburger_close {
	position: absolute;
	right: 1em;
	top: 20px;
	/*float: right;*/
}

.hamburger_modal > .social {
	align-self: center;
}

.hamburger_modal a {
	color: var(--header-main);
	text-decoration: none;
	margin-bottom: 1em;
}

.hamburger_modal nav {
	width: 400px;
	max-width: 600px;
	margin: 2em auto;
	
}

.hamburger_modal li {
	margin-bottom: 1em;
	text-align: center;
}

.hamburger_modal nav ul {
	grid-template-columns: 1fr 1fr;
}



.test {
	border: 2px solid red;
}

/*Slider One*/

main > .container {
	padding: 0 2em;
}

.slider_item {
		align-items: center;
		justify-content: center;
		width: 100%;
	}

.slider_item > div:first-child {
	flex-direction: column;
}

.slider_item > div {	
	display: flex;
	justify-content: center;
	text-align: center;
}

.slider_item h2 {
	margin-bottom: 0.5em;
}

.slider_item p {
	margin-bottom: 1em;
}

.slider_product {
	position: relative;
}

.slider_product p {
	position: absolute;
	background: var(--accent);
	color: var(--header-main);
	border-radius: 10px;
	padding: 0.3em 0.5em;
	box-shadow: 2px 2px 4px #000;
}
.slider_one_btn > span {
	position: relative;
	top: -13em;
}

.next {
	float: right;	
}

.slider_one img {
	width: 90%;
	max-width: 500px;
}

.footer_menu > .container > div{
	padding-left: 20vw;
}

/*SLIDER TWO*/
.category img {
	margin-left: auto;
	margin-right: auto;
}

#second_slider .category {
	position: relative;
}
.category > img {
	width: 90%;
	max-width: 250px;
}

.category span {
	position: absolute;
	bottom: 0.1em;
	left: 0.8em;
	background: var(--accent);
	color: #fff;
	padding: 0.3em 0.5em;
	font-weight: bold;
	border-radius: 10px 10px 10px 0;
}

/*Gallery*/
.wrap_image {
	padding: 0 0.5em;
}

.slider_two > h2 {
	text-align: center;
	margin-bottom: 1em;
}

.slider_product figure {
		text-align: center;
		display: flex;
		justify-content: center;
	}

#products_gallery figure {
	border: 1px solid var(--accent);
	border-radius: 0 0 10px 10px;
}



	/* Dynamic class*/
	figure .cost {
		color: #fff;
		text-align: center;
		background: var(--accent);
		position: relative;
		top: -0.1em;
		/*height: 50px;*/
		padding: 0.5em;
		border-radius: 5px;
		box-shadow: 4px 4px 8px #aaa;
	}

	.caption_price {
		display: block;
	}

/*MEDIA QUERIES*/







@media screen and (min-width: 1050px) {
	#header_container h1{
		margin-left: 2em;
	}
	#lower_header .nav {
		display: flex;
		justify-content: center;
		margin-right: 3em;
	}

	.info > div {
		width: 35%;
		max-width: 320px;
	}
}

@media screen and (min-width: 1200px) {
	#lower_header .nav {
		justify-content: flex-end;
	}
	.info > div {
		width: 30%;
		max-width: 400px;
	}
}

/*Code Pen Magnifying glass*/
figure.product {
  background-position: 50% 50%;
  position: relative;
  /*width: 500px;*/

  /*what is line 556 doing. i do not know*/
  /*overflow: hidden;*/
  cursor: zoom-in;
}
figure.product img:hover {
  opacity: 0;
}
figure.product img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}

/*EXPANDED PRODUCT*/
#overlay_expanded {
	width: 100%;
	height: 100vh;
	background: #000;
	z-index: 1;
	opacity: 0.8;
	position: fixed;
	top: -120vh;
	transition: 0.5s ease;
}

#expand_product {
	width: 100%;
	height: 90vh;
	z-index: 2;
	position: fixed;
	top: -120vh;
	transition: 1s ease;
}

#expand_product svg {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 23px;
}

#view_product {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 85vh;
	margin: 4em auto;
	background: #000;
	
	text-align: center;
}

#view_product > div {
	width: 90%;
}
#view_product img {
	width: 90%;
	max-width: 500px;
}

#view_product h2{
	color: #fff;
	z-index: 4;
}

.modal_details {
	color: #fff;
}

.modal_details p {
	margin-bottom: 1.5em;
}

/* Expanded view media queries */
@media screen and (max-width: 850px) {
	#view_product {
		flex-direction: column;
		justify-content: space-between;
	}

	p {
		font-size: 14px;
	}

	.details {
		display: none;
	}
}

/* Contact Page*/
#contact form {
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#contact .wrapper {
	width: 90%;
	
}

h2 {
	line-height: 1.2em;
	margin-bottom: 1em;
}

label {
	display: block;
	font-weight: bold;
}

input,
textarea {
	width: 100%;
	margin-bottom: 2em;
	border-radius: 0.5em;
	box-shadow: 2px 2px 4px #555;
}

#contact figure {
	display: none;
}

input[type=submit] {
	font-weight: bolder;
	border: transparent;
	box-shadow: 2px 2px 4px var(--accent)
}

.submit {
	width: 40%;
	align-self: center;
	max-width: 200px;
}

/* media queries for contact */
@media screen and (min-width: 850px) {
	#contact .container {
		flex-direction: row-reverse;
		align-items: center;
	}
	
	#contact figure {
	display: inline;
	width: 50%;
	}

	#contact img {
		width: 100%;
	}
}

@media screen and (min-width: 1000px) {
	#contact form .wrapper {
		width: 90%;
	}
	form .wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-around;
	}

	#contact figure {
	width: 30%;
	}

	form .wrapper > div {
	width: 46%;	
}
}

@media screen and (max-width: 1000px) {
	#contact .wrapper {
	
	max-width: 350px;
}
}

/* Show and Hide on Scroll */
/*.scroll_show {
	display: block;
}

.scroll_hide {
	display: none;
}*/

#categories {
	position: relative;
	display: none;
}
.categories_banner ul{
	display: flex;
	position: fixed;
	top: 0px;
	z-index: 1;
	background: var(--primary-color);
	width: 100%;
	padding: 0.5em;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.categories_banner li {
	margin: 0.5em 1em;
	color: #fff;
	list-style: none;
}

/* Hide/show on click*/
#products_gallery .hide {
	display: none;
}

#products_gallery .show {
	display: none;
}