@media screen and (min-width: 550px) {
	/*#header_container {
		flex-direction: column-reverse;
	}*/
	#header_container h1 {
		align-self: flex-end;
	}
	#header_container {
		
	}

	
	#upper_header > img {
	margin-right: 5vw;
}
}

@media screen and (max-width: 550px) {
	#upper_header > img {
	margin-left: 0.5em;
}

	h1 {
		align-self: flex-end;
	}
}

@media screen and (min-width: 700px) {
	#upper_header {
		width: 18%;
	}

	#lower_header {
		width: 48%
	}

	#header_container h1 {
		text-align: center;
	}

	#upper_header > img {
		margin-left: 1em;
		margin-right: 8vw;
}
	.show_small {
		display: none;
	}

	.hide_small {
		display: inline;
	}

	header nav {
		/*float: right;*/
		margin: 0 10em 2em 0;
		position: relative;
		top: 6em;
		/*right: 2em;*/
		display: flex;
	}

	header nav a {
		margin-right: 1em;
	}

	.subscribe {
		padding: 1em 2em;
	}

	.col_small {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.grid_small {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	
	.slider_one,
	.slider_one > div {
		width: 100%;
	}
	.slider_item > div {
		width: 47%;
	}

	.slider_item > div {
		flex-direction: row-reverse;
	}

	.slider_item > div:last-child {
		flex-direction: column;
	}

	.slider_product {
		width: 100%
	}

	.info > div {
		width: 45%;
		max-width: 300px;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--light-gray);
		border-radius: 1em;
		padding: 0.5em;
	}

	.footer_menu > .container {
		justify-content: space-around;
	}
	
	.prev {
	left: 4em;
	}

	.next {
		right: 4em;
	}

	.slider_one {
		display: flex;
		align-items: center;
	}

	.slider_one_btn > span {
	top: -30vh;
	}

	.footer_menu > .container > div{
	padding-left: 2em;
}

/*Waterfall grid*/
.waterfall_grid {
	display: block;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.block {
	width: 100%;
  background-color: #ee01ca;
  display: block;
  padding: 5px;
  word-wrap: break-word;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.one {
  /*height: 220px;*/
  height: 25vw;
}

.two {
  /*height: 240px;*/
  height: 33vw;
}

.three {
  /*height: 260px;*/
  height: 36vw;
}

}

@media screen and (max-width: 700px) {
	#header_container {
		width: 100%;
		justify-content: space-between;
	}

	.slider_item > div {
		flex-direction: column;
	}

	.slider_product figure {
		text-align: center;
		display: flex;
		justify-content: center;
	}

	figcaption {
		display: none;
	}

}

@media screen and (min-width: 900px) {
	#lower_header nav {
		left: 2em;
	}
	#upper_header > img {
	margin-right: 15vw;
	/*margin-left: 5em;*/
}
	#lower_header {
		width: 40%;
	}

	.footer_menu > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.slider_one_btn > span {
	top: -20vh;
	}

	.prev {
	left: 0;
	}

	.next {
		right: 0;
	}

	.slider_item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.slider_item > div:first-child {
		margin-right: 2em;
	}
	
	.waterfall_grid {
  -webkit-column-count: 4;
/*  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;*/
  -moz-column-count: 4;
/*  -moz-column-gap: 10px;
  -moz-column-fill: auto;*/
  column-count: 4;
 /* column-gap: 15px;
  column-fill: auto;*/
}

.one {
  /*height: 220px;*/
  height: 25vw;
}

.two {
  /*height: 240px;*/
  height: 27vw;
}

.three {
  /*height: 260px;*/
  height: 29vw;
}
}